
html * {
  font-size:100.01%;
}

body { 
       margin-left: 30px;
       min-width: 200px;
       max-width: 700px;
     }

* { 
    font-family: verdana, lucida, helvetica, arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-decoration:	none;
    background: #f8f8f8; /*hellgrau*/
        font-weight: medium;
  }

a:hover {	
	background:	#c0c0c0; /*mittelgrau*/
	}	

h1,h2,h3 { 
     font-family: arial,verdana,lucida, helvetica,  sans-serif;
     font-weight: medium;
     font-variant: small-caps;
     color: #505050;  /*anthrazit*/
         }

h1 { 
     font-size: 24px; 
     line-height: 30px; 
   }

h2 { 
     font-size: 22px; 
     line-height: 24px; 
   }

h3 { font-size: 20px; 
     line-height: 22px; 
   }

p {
	margin-top: 4px;
	margin-bottom: 2px;
	color: black;
        font-weight: 500;
  }

ul {
    color: grey;
   }



pre, tt {
	font-family: courier;
	font-size: 13px;
	}

.moddate { 
	font-family: courier;
	font-size: 11px;
 }

.email>ins:before {content: "@"; text-decoration: none}
.email del {text-decoration: none}
.email>del {display: none}
*:first-child+html .email>del {display:inline}  /* Workaround fuer IE 7 */

div#pagehead { 
     position:relative;
}

div#pagehead1 * { 
  font-family: verdana, lucida, helvetica, arial, sans-serif;
  color: #383894;  
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  height: 50px;
}

div#pagehead2 { 
     position:absolute;
     top:0px;;
     left: 420px;
     width: 300px;
}

div#pagehead2 * { 
     color: #383894;  
     line-height: 16px;
     font-size: 13px;
     font-weight: 600;
     font-family: verdana, lucida, helvetica, arial, sans-serif;
}

div#teaserimage { 
  position:absolute;
  left:550px;
  top:-30px;
 }

div#content { 
  position:relative;
  top:60px;

}	


/* ------  Startpage -------------*/


table#phone { 
  border-spacing:0px;
  border-top:0px;
  border-bottom:0px;
 }

td.address{ 
  padding:0px 10px 0px 0px;
  margins:0px;
 }


#startpageheader { 
     position:relative;
     width: 800px;
}

#portrait { 
  position:relative; 
  top:15px; 
  left:340px; 
  width:40px;
}

#address1 {  
  position:absolute; 
  top:20px; 
  left:0px;
}

#address2 {  
  position:absolute; 
  top:20px; 
  left:420px;
}

.addressTitle, .addressTitle *{ 
  font-family: verdana, lucida, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  height: 30px;
  color: #505050;  
}

.addressContent, .addressContent *{ 
  font-family: verdana, lucida, helvetica, arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #383894;  
}




